<!DOCTYPE html>
<html>
<head>
    <title>SubTidal - login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .thread {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
        .thread h2 {
            margin-top: 0;
        }
        .post {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

</head>
<body>
  <h1>Login</h1>
  <form>
    <input>
  </form>
</body>
</html>